{{ commentchar }} ### This is a Network Device Template
{{ commentchar }} ### Nicholas G. Schmidt
{{ commentchar }} ### 28 May 2021
{{ commentchar }} ### Doesn't actually do anything, initial test
{{ commentchar }} Template Name: {{ name }}
{{ commentchar }} Template Kind: {{ kind }}
{{ commentchar }} And now, for the actual configuration

hostname {{ hostname }}
